
.title {
    margin-top: 16px;
    margin-bottom: 8px;
    font-weight: bold;
    font-size: 15px;
    line-height: 1.2;
    letter-spacing: 0.2px;
    color: #99efd0;
}
  
.text {
    width: 270px;
    font-size: 15px;
    line-height: 1.33;
    letter-spacing: 0.2px;
    color: #8476aa;
}