html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  display: flex;
  margin: auto;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  background: linear-gradient(222.26deg, #3b1d60 1.22%, #040d3e 106.28%);
  width: 1440px;
  height: 100%;
  @media screen and (min-width: 320px) and (max-width: 767px) {
    width: 320px;
  }
  @media screen and (min-width: 768px) and (max-width: 1439px) {
    width: 768px;
  }
}

ul,
li,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

button:hover {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
