@import '../styles/varaibles.scss';

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  display: flex;
  margin: 0px auto;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  background: linear-gradient(222.26deg, #3b1d60 1.22%, #040d3e 106.28%);
  max-width: $desktop-max;
  height: 100%;
}

ul,
li,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

button:hover {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
