.container {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  margin-top: 25px;
  width: 1440px;
  height: 100%;
}

.features5th {
  width: 1440px;
  display: flex;
  margin-bottom: 40px;
  justify-content: center;
  align-items: center;
}

.features5thImg {
  width: 494px;
  height: 446px;
  margin-right: 85px;
}
.features5thContext {
  width: 512px;
  height: 290px;
}
.features5thTitle {
  margin-bottom: 32px;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.23;
  letter-spacing: 0.325px;
  color: #99efd0;
}
.features5thText {
  font-size: 15px;
  line-height: 1.33;
  letter-spacing: 0.2px;
  color: #8476aa;
  margin-bottom: 48px;
  font-family: Gilroy-SemiBold;
}

.features5thList {
  display: flex;
}
.features5thItemTitle {
  font-family: Inter;
  margin-top: 16px;
  margin-bottom: 8px;
  font-weight: bold;
  font-size: 15px;
  line-height: 1.2;
  letter-spacing: 0.2px;
  color: #99efd0;
}

.features5thItemText {
  width: 270px;
  height: fit-content;
  font-family: Gilroy-SemiBold;
  font-size: 15px;
  line-height: 1.33;
  letter-spacing: 0.2px;
  color: #8476aa;
}

.features6th {
  width: 940px;
  height: 324px;
  display: flex;
  margin: auto;
  margin-bottom: 170px;
  background: rgba(60, 62, 125, 0.19);
  backdrop-filter: blur(134px);
  border-radius: 5px;
}

.features6thContext {
  text-align: center;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 20px;
}

.features6thTitle {
  font-family: Rubik;
  font-weight: 500;
  font-size: 36px;
  line-height: 1.19;
  color: #f2994a;
  margin-bottom: 20px;
}

.features6thText {
  font-family: Rubik;
  font-size: 16px;
  line-height: 1.37;
  color: #95a1bb;
}
