.container {
//   outline: 2px solid orangered;
  width: 1440px;
  margin: 60px auto;
  position: relative;
}

.imgRain{
    position: absolute;
    top: -35px;
    left: -150px;
    opacity: 0.5;
}

.context {
  width: 940px;
  height: 324px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background: rgba(60, 62, 125, 0.19);
  backdrop-filter: blur(134px);
  border-radius: 5px;
  text-align: center;
  margin: auto;
}

.title {
  font-weight: 500;
  font-size: 36px;
  line-height: 1.19;
  color: #f2994a;
  margin-top: 50px;
  margin-bottom: 20px;
}

.text {
  width: 395px;
  margin: 0px auto;
  font-family: Rubik;
  font-size: 16px;
  line-height: 1.37;
  color: #95a1bb;
}

.form {
  // background-color: whitesmoke;
  display: flex;
  justify-content: center;
  height: 56px;
  margin-top: 23px;
}

.email {
  background: #F6F6F6;
  opacity: 0.1;
  border-radius: 5px 0px 0px 5px; 
  width: 288px;
  height: 100%;
  padding: 18px 16px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: 0.2px;
  color: #FFFFFF;
  opacity: 0.2;
  border: none;
}

.email:active, 
.email:hover, 
.email:focus {
  outline: none;
}

.submit {
  background: #F2994A;
  border-radius: 0px 5px 5px 0px; 
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #FFFFFF;
  cursor: pointer;
  padding: 16px 44px;
  border: none;
}

.sign {
  margin-top: 16px;
  font-family: 'Gilroy-SemiBold';
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: 0.2px;
  color: #8476AA;
}