.container {
  width: 1440px;
  position: relative;
}

.imgRain {
  position: absolute;
  top: -350px;
  left: 100px;
}

.title {
  margin-bottom: 32px;
  text-align: center;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.33px;
  color: #99efd0;
}

.title > span {
   color: #f2994a;
}

.text {
  margin: auto;
  width: 420px;
  text-align: center;
  font-size: 15px;
  line-height: 1.33;
  letter-spacing: 0.2px;
  color: #8476aa;
}

.list {
  display: flex;
  justify-content: center;
  margin-top: 48px;
}
