@import '../../styles/varaibles.scss';

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px 170px;
  width: 1440px;
  height: auto;
}

.navigation {
  display: flex;
  align-items: center;
}

.logo {
  box-shadow: -11.09px 18.13px 36.6483px rgba(242, 153, 74, 0.13);
  border-radius: 50%;
  &:hover {
    transform: scale(1.2);
    cursor: pointer;
  }
  margin-right: 40px;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menuLink {
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #b5b5b5;
  &:hover {
    color: #f2994a;
    cursor: pointer;
    transform: scale(1.2);
  }
  margin-right: 20px;
}

.auth {
  display: flex;
  justify-content: space-between;
}


@media(min-width: $mobile-min) and (max-width:$mobile-max) {
  .container{
    width: $mobile;
    padding: 10px;
    margin: auto 0;
    flex-direction: column;
  }
  .logo {
    margin-right: 20px;
  }
  .menuLink {
    font-size: 10px;
    margin-right: 10px;
  }
  .auth {
    margin-top: 15px;
  }
}