.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1100px;
  margin: 80px auto;
}

.navigation {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.logo {
  box-shadow: -11.09px 18.13px 36.6483px rgba(242, 153, 74, 0.13);
  border-radius: 50%;
  &:hover {
    transform: scale(1.2);
    cursor: pointer;
  }
  margin-right: 40px;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menuLink, .navLink {
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #b5b5b5;
  margin-right: 20px;
}

.menuLink:hover,
.navLink:hover {
  color: #f2994a !important;
  cursor: pointer !important;
  transform: scale(1.2) !important;
}

.auth {
  display: flex;
  justify-content: space-between;
}

